#dark-blue-bg {
  height: 400px;
  background: #1F2937;
  width: 1097px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

#body {
  font-family: "Roboto";
}

#main-head {
  color: #F9FAF8;
  margin-top: 120px;
  flex: none;
}

.top-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
}

.tr-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #E5E7EB;
  height: 60px;
  width: 380px;
  margin-left: 550px;
  gap: 30px;
}

.links {
  color: #E5E7EB;
  text-decoration: none;

}

#main-subtext {
  display:flex;
  max-width: 500px;
  color: grey;
}
